<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">基座</router-link> |
      <router-link to="/subappVue2">vue2</router-link>
      <router-link to="/subappVue3">vue3</router-link>
      <div id="container"></div>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
